<!-- site nav -->


<!-- ===== ALERTS ===== -->

<div class="container" id="alerts">


	<!-- headblock -->

	<div class="headblock black-gradient">
		<div class="circle" id="red-circle-highlight"></div>
		<div class="circle" id="red-circle-shadow"></div>
		<div class="circle red-gradient">
			<h2>8</h2>	<!-- insert dynamic code for ALERTS -->
		</div>
		<%= image_tag("/assets/alerts.png", class:"headblock-icon", id:"alerts-icon") %>
			<h1>Alerts</h1>		
		<%= image_tag("/assets/headblock-arrow.png", class:"headblock-arrow") %>
	</div>


	<!-- notification viewer -->

	<div id="viewer">
		<div class="viewer-scroll light-gray-gradient" id="left-viewer">
			<%= image_tag("/assets/left-scroll-arrow.png", class:"scroll-arrow") %>
			<div class="scroll-text">Previous</div>
		</div>
		<div class="viewer-scroll light-gray-gradient" id="right-viewer">
			<%= image_tag("/assets/right-scroll-arrow.png", class:"scroll-arrow") %>
			<div class="scroll-text">Next</div>
		</div>
		<div class="alerts-box red-gradient"></div>
		<div class="alerts-box red-gradient"></div>
		<div class="alerts-box red-gradient"></div>
		<div class="alerts-box red-gradient"></div>
		<div class="alerts-box red-gradient"></div>
	</div>
</div>







<!-- ===== PENDING TRADES ===== -->


<!-- headblock -->

<div class="container black-gradient headblock">
	<div class="circle" id="blue-circle-highlight"></div>
	<div class="circle" id="blue-circle-shadow"></div>
	<div class="circle blue-gradient">
		<h2>3</h2> 	<!-- insert dynamic code for PENDING TRADES -->
	</div>
	<%= image_tag("/assets/pending-trade.png", class:"headblock-icon", id:"pt-icon") %>
		<h1>Pending Trades</h1>
	<%= image_tag("/assets/headblock-arrow.png", class:"headblock-arrow") %>
</div>


<!-- user box -->

<div class="container pending-trade bottom-border">
	<div class="trade-user blue-gradient">
		<%= image_tag("/assets/new-indicator.png", class:"new-indicator") %>
		<span class="f-left accent">Awaiting Approval</span>
		<span class="right location">Local</span>
		<h2 class="center">Pete T.</h2>
		<%= image_tag("/assets/name-bg.png", class:"name-bg") %>
		<span class="center accent">Brooklyn, NY</span>
		<ul>
			<li><%= image_tag "/assets/inventory-outline.png" %></li>
			<li><%= image_tag "/assets/want-list-outline.png" %></li>
			<li><%= image_tag "/assets/profile-outline.png" %></li>
		</ul>
	</div>

<!-- trade info box -->

	<div class="trade-info">
		<%= image_tag("/assets/pending-trades-icon-large-blue.png", class:"pt-background") %>
		<table class="cards">
				<tr class="header">
					<th colspan="4">Your Cards</th>
					<th colspan="3">Their Cards</th>
				</tr>
				<tr>
					<td class="qty">1</td>
					<td class="rarity">o</td>
					<td class="name">Card name 4</td>
					<td>&nbsp;&nbsp;</td>
					<td class="qty">1</td>
					<td class="rarity">o</td>
					<td class="name">Card name 1</td>
				</tr>
				<tr>
					<td class="qty">10</td>
					<td class="rarity">o</td>
					<td class="name">Card name 1</td>
					<td>&nbsp;&nbsp;</td>
					<td class="qty">100</td>
					<td class="rarity">o</td>
					<td class="name">Card name 139</td>
				</tr>
		</table>
	</div>
	<div class="trade-details light-gray-gradient">
		<%= image_tag "/assets/right-scroll-arrow.png" %>
	<div class="scroll-text">Trade Details</div>
	</div>

<!-- trade details link -->

	

</div>




<!-- ===== SUGGESTED TRADES ===== -->

<div class="container black-gradient headblock">
	<div class="circle" id="green-circle-highlight"></div>
	<div class="circle" id="green-circle-shadow"></div>
	<div class="circle green-gradient">
		<h2 class="circle-text">15</h2> <!-- insert dynamic code for SUGGESTED TRADES -->
	</div>
	<%= image_tag("/assets/suggested-trades.png", class:"headblock-icon", id:"st-icon") %>
	<h1>Suggested Trades</h1>
	<%= image_tag("/assets/headblock-arrow.png", class:"headblock-arrow") %>
</div>

<div class="container"><!-- suggested trades --></div>
