<%= form_for(@card) do |f| %>
<div class="backend">
	<%= f.label :card_name %>
	<%= f.text_field :card_name %>
	
	<%= f.label :mana_cost %>
	<%= f.text_field :mana_cost %>

	<%= f.label :type_line %>
	<%= f.text_field :type_line %>

	<%= f.label :expansion %>
	<%= f.text_field :expansion %>

	<%= f.label :abilities %>
	<%= f.text_field :abilities %>

	<%= f.label :flavor_text %>
	<%= f.text_field :flavor_text %>

	<%= f.label :artist_info %>
	<%= f.text_field :artist_info %>

	<%= f.label :collector_number %>
	<%= f.text_field :collector_number %>

	<%= f.label :power %>
	<%= f.text_field :power %>

	<%= f.label :toughness %>
	<%= f.text_field :toughness %><br />

	<%= f.submit %>

</div>
<% end %>